<!DOCTYPE html>
<html>
<head>
  <title>Admin Layout</title>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<%= stylesheet_link_tag 'admin' %>
<%= stylesheet_link_tag 'posts' %>

</body>
</html>
